@mixin shadow {
  box-shadow: 0.1rem 0.1rem 0.4rem #808080;
}

@mixin title {
  font-family: "Shrikhand";
}

@mixin apparition {
  @for $i from 0 through 4 {
    &:nth-child(#{$i}) {
      position: relative;
      animation: apparition 0.75s;
      animation-delay: #{$i * 0.5}s;
      animation-fill-mode: both;
    }
  }
  @keyframes apparition {
    from {
      opacity: 0;
      left: 10%;
    }
    to {
      opacity: 1;
      left: 0px;
    }
  }
}

@mixin hide {
  opacity: 1;
  animation: hide 2s;
  @keyframes hide {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin hide {
  opacity: 1;
  animation: hide 2s;
  @keyframes hide {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin rotate-child {
  @for $i from 0 through 3 {
    &:nth-child(#{$i}) {
      position: relative;
      animation: rotate  #{$i * 0.5}s;
      animation-fill-mode: both;
    }
  }
  @keyframes rotate {
    from {
      opacity: 0;
      left: 10%;
    }
    to {
      opacity: 1;
      left: 0px;
    }
  }
}