@mixin shadow {
  box-shadow: 0.1rem 0.1rem 0.4rem #808080;
}

@mixin title {
  font-family: "Shrikhand";
}

@mixin apparition {
  @for $i from 0 through 4 {
    &:nth-child(#{$i}) {
      position: relative;
      animation: apparition 0.75s;
      animation-delay: #{$i * 0.5}s;
      animation-fill-mode: both;
    }
  }
  @keyframes apparition {
    from {
      opacity: 0;
      left: 10%;
    }
    to {
      opacity: 1;
      left: 0px;
    }
  }
}

@mixin hide {
  opacity: 1;
  animation: hide 2s;
  @keyframes hide {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin hide {
  opacity: 1;
  animation: hide 2s;
  @keyframes hide {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin rotate {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      opacity: 0;
      position: absolute;
      font-size: #{$i * 1.6}em;
      transform-origin: 50% 50%;
      animation: rotateanim #{$i * 0.8}s linear infinite, show 2s;
    }
  }
  @keyframes rotateanim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes show {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }
}
