.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__return {
        position : absolute;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6em;
        padding-left: 1em;
    }
}

.footer {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 1.3em 5%;
    font-size: 1.1em;
    padding-top: 1rem;

    &__title{
        font-family: 'Shrikhand';
        font-size: 1.1em;
        margin-bottom: 1.3em;
    }

    &__link{
        padding-bottom: 0.5em;

        &--bold{
            font-weight: bolder;
        }

        &--icon{
            width: 1em;
            padding-right: 2em;
        }
    }
}