@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0px;
}

p {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}